a{
	cursor: pointer;
}
.cols{

}

#map > .map-block{
	position: absolute;
    z-index: 2;
    overflow: hidden;
}
#map > .map-block:hover,#map > .map-block.hover  {
    box-shadow: inset 0 0 25px 6px rgba(0,0,0,0.30);
}
#draggable-map{
	border: none;
}
#position{
	z-index: 10;
	top:80px;
	background: #fff;
}
.layer0{
	/*background: url(../img/map/earth.png) repeat;*/
	background: url(../img/map/img/earth.png)repeat;
	background-size:200px;
	/*margin:0 auto;*/
	/*margin-top: 10px;*/
	/*width:800px;
	height: 600px;*/
	/*border: 2px solid #bbb;*/
	overflow: hidden;
	position: relative;
}

#map{
	border: none;
	overflow: hidden;
}
#draggable-map{
	position: absolute;
    width: 100%;
    height: 100%;
}
#draggable-map{
	z-index:2;
}

.texture_0_0{background: url(../img/map/img/forest.png); background-size:contain;}
.texture_0_1{background: url(../img/map/img/mountains.png);background-size:contain;}
.texture_0_2{background: url(../img/map/img/stones.png);background-size:contain;}
.texture_0_3{background: url(../img/map/img/wheat.png);background-size:contain;}
.texture_0_4{background: url(../img/map/img/flax.png);background-size:contain;}
.texture_0_5{background: url(../img/map/img/meadows.png);background-size:contain;}
.texture_0_6{background: url(../img/map/img/grape.png);background-size:contain;}
.texture_0_7{background: url(../img/map/img/barley.png);background-size:contain;}
.texture_0_8{background: url(../img/map/img/ruins.png);background-size:contain;}
.texture_0_9{background: url(../img/map/img/castle.png);background-size:contain;}

.main {
    position: relative;
    /*margin: 0 0 0 -640px;
    left: 40%;
    top: 50px;*/
}
.wrapper {
    max-width: 640px;
}
.wrapper .content{
    overflow: scroll;
}
.content h2 {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #898989;
    white-space: nowrap;
    font-size: 2em;
    text-align: center;
	margin: 0;
}
.content .name {
    color: #54362d;
    font-weight: bold;
    font-size: 43.6px;
    text-align: center;
    padding: 14% 5%;
    border-bottom: 2px solid #000;
}
.content .info {
    padding: 5% 0;
	margin: 0;
}
.content .info li {
    color: #292421;
    font-size: 22px;
    line-height: 150%;
}
.content .buttons-box {
    border-top: 2px solid #000;
    text-align: center;
    padding: 0 50px;
    height: 90px;
}
.content .dropdown {
    float: left;
    position: relative;
}
/*.content .dropdown:hover ul {
	display: block;
}*/
.content .dropdown ul {
    display: none;
    width: 180px;
    min-height: 170px;
    list-style: none;
    margin: -17px 70px 0 18px;
    padding: 0;
    position: absolute;
    text-align: center;
    background: url('../img/interface/map_toggle/drop-down_bg.png') no-repeat 0 0;
}
.content .dropdown ul li {
    font-size: 18.01px;
    border-bottom: 1px solid #656565;
    padding: 5px 15px;
    margin: 0 20px;
}
.content .dropdown ul li a {
    text-decoration: none;
    color: #292421;
	white-space: nowrap;
}
.content .dropdown .bottom_arrow {
    background: url('../img/interface/map_toggle/drop-down_arrow.png') no-repeat right 4px;
    width: 21px;
    height: 17px;
    padding-right: 30px;
}
.content .description {
    padding-top: 10px;
    color: #292421;
    font-size: 23.58px;
    line-height: 125%;
}
.content ul.info2 {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.content ul.info2 li {
    font-size: 23.56px;
    font-weight: bold;
    color: #292421;
    line-height: 150%;
}
.content .with_l_arr {
    padding-left: 70px;
    position: relative;
}
.content .with_r_arr {
    padding-right: 70px;
    position: relative;
}

.content .arrow-left {
    background: url('../img/interface/map_toggle/arrows.png') no-repeat 100% 0;
    position: absolute;
    width: 40px;
    height: 70px;
    top: 34%;
    left: 0;
    cursor: pointer;
}
.content .arrow-right {
    background: url('../img/interface/map_toggle/arrows.png') no-repeat 0 0;
    position: absolute;
    width: 40px;
    height: 70px;
    top: 42%;
    right: 0;
    cursor: pointer;
}
.b_arrow {
    z-index: 999;
    position: absolute;
    left: 297px;
    bottom: -2px;
    width: 56px;
    height: 42px;
    background: url('../img/interface/map_toggle/b_arrow.png') no-repeat 0 0;
}
.unit_name {
    background: url("../img/interface/map_toggle/unit_name_main_bg.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #54362D;
    font-family: Arial;
    font-size: 24px;
    height: 62px;
    margin-left: 15px;
    margin-top: 40px;
    position: relative;
    width: 263px;
}
.b_arrow {
    z-index: 999;
    position: absolute;
    left: 297px;
    bottom: -5px;
    width: 56px;
    height: 42px;
    background: url('../img/interface/map_toggle/b_arrow.png') no-repeat 0 0;
}

.game_btn {
    background: url('../img/interface/map_toggle/button_bg.png') repeat-x 0 0;
    position: relative;
    border: 0 none;
    height: 72px;
    font-size: 22.02px;
    color: #f3e8dc;
    text-transform: uppercase;
    margin: 10px 5%;
}
.game_btn:focus {
	outline: 0 none;
}
.game_btn span.left {
    background: url('../img/interface/map_toggle/button_left_bg.png') no-repeat 0 0;
    width: 17px;
    height: 72px;
    position: absolute;
    left: -17px;
    top: 0;
}
.game_btn span.right {
    background: url('../img/interface/map_toggle/button_right_bg.png') no-repeat 0 0;
    width: 17px;
    height: 72px;
    position: absolute;
    right: -17px;
    top: 0;
}
.toggler .content{
    overflow-y: visible!important;
}
.toggler .content::-webkit-scrollbar {
    display: none;
}
/*640 Header
-----------------------------------------------------------------------------*/
.size640 {width: 640px;}
.size640 .header {
    height: 74px;
    background: url('../img/interface/map_toggle/container_top_bg.png') no-repeat center bottom;
    position: relative;
    width: 100%;
}

/*640 Middle
-----------------------------------------------------------------------------*/
.size640 .content {
    position: relative;
    padding: 0 10%;
    background: url('../img/interface/map_toggle/container_bg.png') repeat-y left top;
    height: 384px;
	overflow: hidden;
}
.size640 .content h2 {
    text-align: center;
    color: #292421;
}

/*640 Footer
-----------------------------------------------------------------------------*/
.size640 .footer {
    height: 78px;
    background: url('../img/interface/map_toggle/container_bottom_bg.png') no-repeat left top;
    position: relative;
    width: 100%;
}


/*480 Header
-----------------------------------------------------------------------------*/
.size480 .header {
    height: 57px;
    background: url('../img/interface/map_toggle/container_top_bg75.png') no-repeat center bottom;
    position: relative;
    width: 100%;
}


/*480 Footer
-----------------------------------------------------------------------------*/
.size480 .footer {
    height: 59px;
    background: url('../img/interface/map_toggle/container_bottom_bg75.png') no-repeat left top;
    position: relative;
    width: 100%;
}


/*320 Header
-----------------------------------------------------------------------------*/
.size320 {width: 242px;}
.size320 .header {
    height: 29px;
    background: url('../img/interface/map_toggle/container_top_bg50.png') no-repeat left top;
    position: relative;
}

/*move to interface-correct.css*/

/*320 Footer
-----------------------------------------------------------------------------*/
.size320 .footer {
    height: 36px;
    background: url('../img/interface/map_toggle/container_bottom_bg50.png') no-repeat left top;
    position: relative;
}
.size320 .content .with_l_arr {
    padding-left: 12%;
    position: relative;
    width: 85%;
}
.size320 .content .arrow-left { width: 54px;}

.map-block .map-fraction, .map-block .map-my{
    position: absolute;
    display: block;
    box-shadow: inset 0 0 45px -15px;
    border-radius: 10px;
    margin: 2%;
    width: 96%;
    height: 96%;
}
.map-block .map-my{
    color: green;
    box-shadow: 0 0 30px;
}
.map-block .map-my-city-lvl{
    position: absolute;
    right: 2%;
    top: 2%;
    width: 20%;
    height: 20%;
    line-height: 1.6;
    font-size: 1.2em;
    box-shadow: inset 0 -4px 10px 2px darkgreen;
    text-align: center;
    display: block;
    background: green;
    border-radius: 50%;
    color: white;
    opacity: 0.75;
}

.dropdown .dropdown-menu{
    display: none!important;
}
.dropdown.open .dropdown-menu{
    display: block!important;
}
.game_btn{
   display: block;
   vertical-align: middle;

}
#toggle .content .text-center {
    margin-top: 30%;
}