<!-- RESOURCE PAGE -->
<div class="span50 book-column column-left resource-page">
    <div class="categories resource-categories">
        <h3 class="text-corners-title span100">{{LANG_RESOURCES_RESOURCES}}</h3>

        <div class="scroll-pane">
            <div class="span100 scroll-content active">
                <div class="span100">
                    <div class="desc">
                        <h4 class="text res-city"><span>{{LANG_RESOURCES_CITY}}:</span> Лондон</h4>
                        <table class="city-stats">
                            <tr>
                                <td colspan="2">{{LANG_RESOURCES_POPULATION}}: 1280 {{LANG_RESOURCES_PEOPLE}}<br/>
                                    {{LANG_RESOURCES_INFLOW}} 60 / {{LANG_RESOURCES_OUTFLOW}} 5
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">{{LANG_RESOURCES_POPULATION_FREE}}: 1000</td>
                            </tr>
                            <tr>
                                <td>{{LANG_RESOURCES_GROWTH}}: 56</td>
                                <td>{{LANG_RESOURCES_DISEASE}}: Чума</td>
                            </tr>
                            <tr>
                                <td>{{LANG_RESOURCES_HAPPINESS}}: 15</td>
                                <td>{{LANG_RESOURCES_FAITH}}: 37</td>
                            </tr>
                            <tr>
                                <td>{{LANG_RESOURCES_TAX}}: 27</td>
                                <td>{{LANG_RESOURCES_CRIMINALITY}}: 15</td>
                            </tr>
                        </table>
                    </div>


                    <table class="resource-table">
                        <tr>
                            <th>{{LANG_RESOURCES_CHARACTER_RESOURCES}}</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <img class="res-icon" src="img/icons/empty.png" alt="" width="64" height="64">

                                    <div class="reward-text">Золото</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <img class="res-icon" src="img/icons/empty.png" alt="" width="64" height="64">

                                    <div class="reward-text">Янтарь</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <img class="res-icon" src="img/icons/empty.png" alt="" width="64" height="64">

                                    <div class="reward-text">Благословение</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>{{LANG_RESOURCES_MAIN_RESOURCES}}</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <img class="res-icon" src="img/icons/empty.png" alt="" width="64" height="64">

                                    <div class="reward-text">Дерево</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <img class="res-icon" src="img/icons/empty.png" alt="" width="64" height="64">

                                    <div class="reward-text">Камень</div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="scroll-bar-wrap category-scroll handle-fixed" data-container="resource-categories">
        <a href="#" class="scroll-btn scroll-btn-top"></a>

        <div class="scroll-bar"></div>
        <a href="#" class="scroll-btn scroll-btn-bottom"></a>
    </div>
</div>
<div class="span50 book-column column-right resource-page">
    <div class="description resource-description">
        <div class="empty-book-text hidden">Нажмите на один из элементов слева, чтобы прочесть о нем</div>
        <div class="scroll-pane">
            <div class="description-container scroll-content active">
                <div class="header block-height" data-block-height="10">
                    <h4 class="text res-header">Дерево</h4>

                    <div class="corners slot main-slot square" data-block-height="24" data-block-width="24"></div>
                </div>
                <div class="desc">
                    <p><strong class="resource-name">Дерево</strong>: Явление, процесс, предмет, свойство предмета или
                        процесса, появление которого в наблюдаемых условиях по естественным причинам невозможно или
                        маловероятно. Появление артефакта, следовательно, является признаком целенаправленного
                        вмешательства.</p>
                    <h5>{{LANG_RESOURCES_RESOURCE_INFORMATION}}:</h5>
                    <table>
                        <tr>
                            <th>{{LANG_RESOURCES_REVENUE}}</th>
                            <th>{{LANG_RESOURCES_EXPENDITURE}}</th>
                            <th>{{LANG_RESOURCES_TOTAL}}</th>
                        </tr>
                        <tr>
                            <td>100</td>
                            <td>0</td>
                            <td>100</td>
                        </tr>
                    </table>
                    <table class="city-stats">
                        <tr>
                            <td colspan="2">{{LANG_RESOURCES_RESOURCE_IN_CITY}}: 1280
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">{{LANG_RESOURCES_RESOURCE_IN_ROME}}: 1000</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{LANG_RESOURCES_RESOURCE_TOTAL}}: 1000</td>
                        </tr>
                    </table>
                    <h5>{{LANG_RESOURCES_PRODUCING_BONUS}}:</h5>
                    {{LANG_RESOURCES_FOR_THIS_CITY}} <br>
                    5% советник
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-bar-wrap description-scroll handle-fixed" data-container="resource-description">
        <a href="#" class="scroll-btn scroll-btn-top"></a>

        <div class="scroll-bar"></div>
        <a href="#" class="scroll-btn scroll-btn-bottom"></a>
    </div>
</div>
<!-- /RESOURCE PAGE -->