<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
        <title></title>
		<base href="{$BasePath}" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css?v.1">
        <!-- Media Queries For IE8 -->
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="css/ie-media-queries.css">
        <![endif]-->
        <script src="js/lib/modernizr-2.6.1.min.js"></script>
        <!--[if lte IE 7]>
            <script>
                window.location.href+='/old/index-tablet.html'
            </script>
        <![endif]-->
    </head>
    <body class="auth-page">

        <div class="logo span50 center block-height" data-block-height="12"></div>
        <div class="leaves top-right"></div>
        <div class="leaves bottom-left"></div>
        <div class="wrap row-fluid corners wrap-corners invisible locale">
            <div class="span100">
                <div class="row-fluid">
                    <div class="span15 block sidebar">
                        <div class="corners block-corners  add-offset" data-block-height="100">
                             <div class="corners wood-corners slot square center" data-block-height="72" data-block-width="72">
                                 <a href="#" class="sidebar-icon"><img src="img/interface/icon-ios.png" alt=""></a>
                            </div>
                            <div class="corners wood-corners slot square center" data-block-height="72" data-block-width="72">
                                 <a href="#" class="sidebar-icon"><img src="img/interface/icon-android.png" alt=""></a>
                            </div>
                            <div class="corners wood-corners slot square center" data-block-height="72" data-block-width="72">
                                 <a href="#" class="sidebar-icon"><img src="img/interface/icon-windows.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="span70" data-block-height="100">
                        <div class="row-fluid">
                            <div class="span100 block">
                                 <div class="corners block-corners wood add-offset" data-block-height="7">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span100 block">
                                <div class="corners block-corners wish-paper-corners block-height" data-block-height="82">
                                    <div class="corners paper-corners block-height" data-block-height="77">
                                        <div class="corners text-corners">
                                            <div class="text-corners-title-wrapper">
                                                <h3 class="text-corners-title center span100">{{LANG_NEWS_AND_UPDATES}}</h3>
                                                <div class="clear"></div>
                                            </div>
                                            <ul class="news span100">
                                                <li class="span100 news-item">
                                                    <span class="span20 date">14.11.2012</span>
                                                    <span class="span60 text">Игра открыта для тестирования</span>
                                                    <span class="span20 link"><a href="#">{{LANG_NEWS_MORE}}</a></span>
                                                </li>
                                                <li class="span100 news-item">
                                                    <span class="span20 date">14.11.2012</span>
                                                    <span class="span60 text">Игра открыта для тестирования</span>
                                                    <span class="span20 link"><a href="#">{{LANG_NEWS_MORE}}</a></span>
                                                </li>
                                                <li class="span100 news-item">
                                                    <span class="span20 date">14.11.2012</span>
                                                    <span class="span60 text">Игра открыта для тестирования</span>
                                                    <span class="span20 link"><a href="#">{{LANG_NEWS_MORE}}</a></span>
                                                </li>
                                                <li class="span100 news-item">
                                                    <span class="span20 date">14.11.2012</span>
                                                    <span class="span60 text">Игра открыта для тестирования</span>
                                                    <span class="span20 link"><a href="#">{{LANG_NEWS_MORE}}</a></span>
                                                </li>
                                                <li class="span100 news-item">
                                                    <span class="span20 date">14.11.2012</span>
                                                    <span class="span60 text">Игра открыта для тестирования</span>
                                                    <span class="span20 link"><a href="#">{{LANG_NEWS_MORE}}</a></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="corners text-corners">
                                            <div class="text-corners-title-wrapper">
                                                <h3 class="text-corners-title center span100 form-login">{{LANG_AUTH_UNITARY_SYSTEM}}</h3>
                                                <h3 class="text-corners-title center span100 form-register hidden">{{LANG_AUTH_REGISTER}}</h3>
                                                <h3 class="text-corners-title center span100 form-restore hidden">{{LANG_AUTH_RESTORE_PASSWORD}}</h3>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span10"></div>
                                                <div class="span80 center">
                                                    <!-- Форма логина -->
                                                    <form action="http://game.webkpd.com/user/login.json" id="form-login" data-digest="http://game.webkpd.com/user/login.json">

                                                        <div class="row-fluid">
                                                            <div class="span76 input-btn-container">
                                                                <div class="row-fluid regfield">
                                                                    <div class="span20 form-label">{{LANG_AUTH_EMAIL}}</div>
                                                                    <div class="span75"><input type="text" name="login" id="login" placeholder="{{LANG_AUTH_EMAIL_PLACEHOLDER}}"></div>
                                                                </div>
                                                                <div class="row-fluid regfield form-login form-register">
                                                                    <div class="span20 form-label">{{LANG_AUTH_PASS}}</div>
                                                                    <div class="span75"><input type="password" name="password" id="password" placeholder="{{LANG_AUTH_PASS_PLACEHOLDER}}"></div>
                                                                </div>
                                                            </div>
                                                            <div class="span20 wrap-form-btn">
                                                                <a href="javascript:void(0);" id="btn-enter" class="corners square btn-enter block-corners wood-corners-btn-small form-login">
                                                                    <div class="btn-text enter center vcenter"><div class="btn-icon enter"></div><div class="text-gradient">{{LANG_AUTH_ENTER}}</div></div>
                                                                </a>
                                                                <a href="#" id="btn-done" class="corners square btn-enter block-corners wood-corners-btn-small form-register hidden">
                                                                    <div class="btn-text done center vcenter"><div class="btn-icon done"></div><div class="text-gradient">{{LANG_AUTH_DONE}}</div></div>
                                                                </a>
                                                                 <a href="#" id="btn-restore" class="corners block-height btn-enter block-corners wood-corners-btn-small form-restore hidden" data-block-height="5">
                                                                    <div class="btn-text send center vcenter text-gradient">{{LANG_AUTH_SEND}}</div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <!--<div class="row-fluid">-->
                                                            <!--<ul class="span75">-->
                                                            	<!--<li class="first"><div class="span100 form-login"><a href="#" id="register-button" class="btn-flex">{{LANG_AUTH_REGISTER}}<em></em></a></div></li>-->
                                                            	<!--<li><div class="span100 form-login"><a href="#" class="btn-flex" id="restore-pass">{{LANG_AUTH_REMIND_PASS}}<em></em></a></div></li>-->
																<!--<li><div class="span100 center form-register hidden"><a href="#" id="already-registered" class="btn-flex">{{LANG_AUTH_ALREADY_REGISTERED}}<em></em></a></div></li>-->
																<!--<li><div class="span100 center form-restore hidden"><a href="#" id="authorize" class="btn-flex">{{LANG_AUTH_AUTHORIZE}}<em></em></a></div></li>-->
                                                            <!--</ul>-->
                                                        <!--</div>-->

                                                    </form>
                                                </div>
                                                <div class="span10"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span100 block">
                                 <div class="corners block-corners bottom-auth" data-block-height="11">
                                    <div class="span50 vcenter">
                                        <a href="http://soe-game.com" id="btn-soe" class="center corners span97 block-height block-corners wood-corners-btn-small" data-block-height="7.5">
                                            <div class="btn-text btn-soe center vcenter text-gradient">{{LANG_AUTH_BOTTOM_SOEGAME}}</div>
                                        </a>
.
                                    </div>
                                    <div class="span50 vcenter">
                                        <a href="#" id="btn-ed" class="center corners span97 block-height block-corners wood-corners-btn-small" data-block-height="7.5">
                                         <div class="btn-text btn-ed center vcenter text-gradient">{{LANG_AUTH_BOTTOM_UNITARY_SYSTEM}}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span15 block sidebar">
                        <div class="corners block-corners add-offset" data-block-height="100">
                            <div class="corners wood-corners slot square center" data-block-height="72" data-block-width="72">
                                <a href="#" class="sidebar-icon"><img src="img/interface/icon-vk.png" alt=""></a>
                            </div>
                            <div class="corners wood-corners slot square center" data-block-height="72" data-block-width="72">
                                <a href="#" class="sidebar-icon"><img src="img/interface/icon-facebook.png" alt=""></a>
                            </div>
                            <div class="corners wood-corners slot square center" data-block-height="72" data-block-width="72">
                                <a href="#" class="sidebar-icon"><img src="img/interface/icon-mail.png" alt=""></a>
                            </div>
                            <div class="corners wood-corners slot square center" data-block-height="72" data-block-width="72">
                                <a href="#" class="sidebar-icon"><img src="img/interface/icon-odn.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <!-- POPUP -->
       <div class="overlay-wrapper message-box-overlay locale">
           <div class="overlay overlay-small message-box corners popup-corners hidden">
                <div class="avatar"></div>
                <a href="#" class="btn close"></a>
                <h3 class="corners wood-simple">{{LANG_POPUP_SMALL_WARNING}}</h3>
                <div class="corners stone-simple">
                   <div class="message-text corners paper-simple">
                   </div>
                 </div>
                <div class="corners wood-simple message-buttons">
                        <div class="span10 center corners block-height btn-enter block-corners wood-corners-btn-small-cornered take" data-block-height="5">
                            <div class="btn-text accept center vcenter text-gradient">{{LANG_POPUP_SMALL_ACCEPT}}</div>
                        </div>
                    <div class="clear"></div>
                </div>
           </div>
        </div>
        <div class="preloader"></div>
        <div id="vall" style="display: none;"></div>
        <script src="js/lib/jquery-1.8.2.min.js"></script>
        <script src="js/lib/raphael-min.js"></script>
        <script src="js/lib/timescufon.js"></script>
        <script src="js/lib/jquery.placeholder.min.js"></script>
        <script src="js/lib/jquery.jsonp.min.js"></script>
        <script src="js/lib/md5.min.js"></script>
        <script src="js/lib/mustache.js"></script>
        <script src="js/interface.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/authorization.js"></script>
        <script>
            document.write(unescape('%3Cscript src="'+langUrl+'.js"%3E%3C/script%3E'));
        </script>

        <script type="text/javascript" src="js/lib/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/validate.js"></script>
        <script>
            $('.locale').each(function(){
                var el=$(this);
                el.html(Mustache.render(el.html(), lang));
            });

            $(function () {
                var w = 1280,
                        h = 400,
                        checkSize = function () {
                            if (w < $(window).width() && h < $(window).height()) {
                                window.location = Config.SKIN_URL + '/index.html';
                            }
                        };
                $(window).resize(function () {
                    checkSize();
                });
                checkSize();
            });
        </script>
    </body>
</html>